table{
    display:flex;
    border: 1px solid black;
    justify-content: center;
    }

.team{
    background-color: yellow;
}

#add1{
    background-color: lightblue;
}

#add2{
    background-color: orange;
}
